<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>ThreadServlet</servlet-name>
    <servlet-class>ThreadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThreadServlet</servlet-name>
    <url-pattern>/ThreadServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/FileServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>IOServlet</servlet-name>
    <servlet-class>IOServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IOServlet</servlet-name>
    <url-pattern>/IOServlet</url-pattern>
  </servlet-mapping>
</web-app>
